{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block page-type %}profile-page sidebar-collapse{% endblock page-type %}

{% block header %}
<div class="page-header" data-parallax="true" style="background-image: url({% static 'pages/img/city-profile.jpg' %});">
</div>
{% endblock header %}

{% block content %}
<div class="main">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{% static 'pages/img/faces/kendall.jpg' %}" alt="Circle Image"
                                class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h2>{{ post.title }}</h2>
                            <h5 class="text-muted">{{ post.author|title }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-md-3">
                <p>{{ post.body }}</p>
            </div>
            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <!--
                    color-classes: "nav-pills-primary", "nav-pills-info", "nav-pills-success", "nav-pills-warning","nav-pills-danger"
                -->
                <li class="nav-item">
                    <a class="nav-link active" href="#comments-1" role="tab" data-toggle="tab">
                        <i class="material-icons">message</i>
                        {% with comments.count as total_comments %}
                        {{ total_comments }} Comment{{ total_comments|pluralize }}
                        {% endwith %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#favorites-1" role="tab" data-toggle="tab">
                        <i class="material-icons">favorite_border</i>
                        Favorites
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ post.get_share_url }}">
                        <i class="material-icons">ios_share</i>
                        Share
                    </a>
                </li>
            </ul>
            <div class="tab-content tab-space">
                <div class="tab-pane active" id="comments-1">

                    {% for comment in comments %}
                    <div class="info info-horizontal">
                        <div class="icon icon-rose">
                            <i class="material-icons">group_work</i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">{{ comment.name }}</h4>
                            <p>{{ comment.body }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="tab-pane" id="favorites-1">
                    Efficiently unleash cross-media information without cross-media value. Quickly maximize timely
                    deliverables for
                    real-time schemas.
                    <br><br>Dramatically maintain clicks-and-mortar solutions without functional solutions.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}