{% extends 'layouts/_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Share post{% endblock title %}

{% block page-type %}landing-page sidebar-collapse{% endblock page-type %}

{% block content %}
<div class="page-header header-filter" data-parallax="true"
    style="background-image: url({% static 'pages/img/bg7.jpg' %}); background-size: cover; background-position: top center;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 ml-auto mr-auto">
                <div class="card card-login">
                    <form class="form" method="POST" action="">
                        {% csrf_token %}
                        <div class="card-header card-header-primary text-center">
                            <h4 class="card-title">Share</h4>
                        </div>
                        <div class="card-body ml-2">
                            {{ form|crispy }}
                        </div>
                        <div class="text-center mb-3">
                            <button onclick="javascript:history.go(-1);" class="btn btn-light">Cancel</button>
                            <button type="submit" class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}