{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ post.title }}{% endblock title %}

{% block page-type %}profile-page sidebar-collapse{% endblock page-type %}

{% block header %}
<div class="page-header header-filter" data-parallax="true"
    style="background-image: url({% static 'pages/img/city-profile.jpg' %});"></div>
{% endblock header %}

{% block content %}
<div class="main">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="{% static 'pages/img/faces/kendall.jpg' %}" alt="Circle Image"
                                class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h2>{{ post.title }}</h2>
                            <h5 class="text-muted">{{ post.author|title }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container p-md-3">
                <p>{{ post.body }}</p>
            </div>
            <!-- Button trigger modal -->
            <div class="d-flex justify-content-center p-md-5">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Share
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Share</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ post.get_share_url }}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {{ form|crispy }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}