<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 1px;">
    <!-- Position it -->
    <div style="position: absolute; top: 80px; min-width: 100vw;">
        <!-- Start Alert -->
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
            <div class="container">
                <div class="alert-icon">
                    <i class="material-icons">info_outline</i>
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="material-icons">clear</i></span>
                </button>
                <b>Info:</b> {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <!-- End Alert -->
    </div>
</div>
<!-- End Alert -->