{% extends 'layouts/_base.html' %}
{% load static %}

{% block title %}Subscribe{% endblock title %}

{% block header %}
<div class="page-header" style="background-image: url({% static 'pages/img/bg.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="text-center">
                    {% if subscription.status == "active" %}
                    <div class="card">
                        <div class="card-header card-header-primary rounded">
                            <h4 class="card-title">Your subscription</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                {{ product.description }}
                            </p>
                        </div>
                    </div>
                    {% else %}
                    <button type="submit" id="submitBtn" class="btn btn-white btn-lg">Subscribe</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock header %}
{% block js %}
<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'subscriptions/js/main.js' %}"></script>
{% endblock js %}